<div class="container" id="masonry" >
		<% @tweets.each do |tweet| %>
		    <div class = 'tile double <%= 'triple' if tweet.media.present?  %>'>
				    <div class="tile-content">
					    <span class="text date"><%= tweet.created_at.strftime("%d-%b-%Y") %></span>
					    <br/>
					    <%
							linked = tweet.text.gsub( %r{http://[^\s<]+} ) do |url|
							    "<a href='#{url}' class='text_link'>Link</a>"
							end
						%>
					    <span class="text"><%= linked.html_safe %></span>
					    <span> <%= image_tag(tweet.media[0]["media_url"], :size => tweet.media[0]["sizes"]["thumb"]) if(tweet.media.present?) %> </span>
				    </div>
				    <% if(tweet.urls.present?) %>
					     <div class="brand bg-dark opacity">
							<span class="text">
								<b><%= link_to "Read More", "#{tweet.urls.first.url}", target: "_blank" %></b>
							</span>
						</div>
					<% end %>
			</div>
		<% end %>
</div>